.head{
    font-family: 'Macondo Swash Caps', cursive;
}
body {
    background-image: url(../images/marbel.jpg);
}
.border-weight{
    border-left-width: 5px !important;
    border-top-width: 5px !important;
    border-bottom-width: thin !important;

}
.space1{
    margin-right: 5px !important;
}
.portimg{
    width:250px;
    height:200px;
    margin-right: 3px;
}
.mainbio{
    font-size:16pt;
    word-wrap: normal;

}
hr{
    border-color:black;
}
#float{
    float:left;
    z-index: 1;
    text-align: center;
}